<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>intern.pt</title>
    </head>
    <body>
        <div class = "grid-container">
            <header class="row">
                <div>
                   <a class="brand" href="index.html">intern</a> 
                </div>
                <div>
                    <a href="internships.html">Saved Internships</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="intern.html">
                            <img class="medium" src="./images/cisco3.jpeg">
                        </a>
                        <div class="card-text">
                            <span class="date"> 1 week ago</span>
                            <h2>Support Engineer Intern</h2>
                        </div>
                        <div class="card-stats">
                            <div class="stat">
                                <div class="value">Lisbon</div>
                                <div class="type">Location</div>
                            </div>
                            <div class="stat border">
                                <div class="value">50</div>
                                <div class="type">Candidates</div>
                            </div>
                            <div class="stat">
                                <div class="value">Part-time</div>
                                <div class="type">Type</div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="intern.html">
                            <img class="medium" src="./images/amazon.png">
                        </a>
                        <div class="card-text">
                            <span class="date"> 2 weeks ago</span>
                            <h2>Data Analyst Intern</h2>
                        </div>
                        <div class="card-stats">
                            <div class="stat">
                                <div class="value">Lisbon</div>
                                <div class="type">Location</div>
                            </div>
                            <div class="stat border">
                                <div class="value">33</div>
                                <div class="type">Candidates</div>
                            </div>
                            <div class="stat">
                                <div class="value">Part-time</div>
                                <div class="type">Type</div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="intern.html">
                            <img class="medium" src="./images/google.png">
                        </a>
                        <div class="card-text">
                            <span class="date"> 1 month ago</span>
                            <h2>Bussiness Analyst Intern</h2>
                        </div>
                        <div class="card-stats">
                            <div class="stat">
                                <div class="value">Porto</div>
                                <div class="type">Location</div>
                            </div>
                            <div class="stat border">
                                <div class="value">17</div>
                                <div class="type">Candidates</div>
                            </div>
                            <div class="stat">
                                <div class="value">Part-time</div>
                                <div class="type">Type</div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="intern.html">
                            <img class="medium" src="./images/micro.png">
                        </a>
                        <div class="card-text">
                            <span class="date"> 11 days ago</span>
                            <h2>Strategic Sales Intern</h2>
                        </div>
                        <div class="card-stats">
                            <div class="stat">
                                <div class="value">Porto</div>
                                <div class="type">Location</div>
                            </div>
                            <div class="stat border">
                                <div class="value">17</div>
                                <div class="type">Candidates</div>
                            </div>
                            <div class="stat">
                                <div class="value">Part-time</div>
                                <div class="type">Type</div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="intern.html">
                            <img class="medium" src="./images/sonae.png">
                        </a>
                        <div class="card-text">
                            <span class="date"> 2 days ago</span>
                            <h2>Project Manager Intern</h2>
                        </div>
                        <div class="card-stats">
                            <div class="stat">
                                <div class="value">Porto</div>
                                <div class="type">Location</div>
                            </div>
                            <div class="stat border">
                                <div class="value">17</div>
                                <div class="type">Candidates</div>
                            </div>
                            <div class="stat">
                                <div class="value">Part-time</div>
                                <div class="type">Type</div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="intern.html">
                            <img class="medium" src="./images/NOS.png">
                        </a>
                        <div class="card-text">
                            <span class="date"> 5 days ago</span>
                            <h2>RH Intern</h2>
                        </div>
                        <div class="card-stats">
                            <div class="stat">
                                <div class="value">Porto</div>
                                <div class="type">Location</div>
                            </div>
                            <div class="stat border">
                                <div class="value">17</div>
                                <div class="type">Candidates</div>
                            </div>
                            <div class="stat">
                                <div class="value">Part-time</div>
                                <div class="type">Type</div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="row center">All right reserved</footer>
        </div>
    </body>
</html>